@import url(https://fonts.googleapis.com/css?family=Lora);
html {
  height: 100%;
}

body {
  height: 100%;
  background: url(http://i65.tinypic.com/2q88sud.jpg) no-repeat center;
  background-size: cover;
  position: relative;
  width: 100%;
  margin: 0;
  font-family: 'Lora', serif;
  font-size: 14px;
}
body .tint {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-image: -webkit-linear-gradient(135deg, rgba(235, 242, 13, 0.6), rgba(242, 13, 158, 0.6));
  background-image: linear-gradient(-45deg, rgba(235, 242, 13, 0.6), rgba(242, 13, 158, 0.6));
  -webkit-animation: hue-rot 7s infinite alternate;
          animation: hue-rot 7s infinite alternate;
}
body footer {
  height: 2rem;
  line-height: 2rem;
  position: absolute;
  text-align: center;
  right: .02rem;
  bottom: 0;
  padding: .7rem;
  background: #323233;
  color: #A6A5A4;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px #0d0d0d, -1px -1px #323233;
}
body footer:before {
  content: "Resize to Mobile Nav && Click It!";
}

@-webkit-keyframes hue-rot {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes hue-rot {
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}
#header {
  z-index: 999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: #323233;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  text-shadow: 1px 1px #0d0d0d, -1px -1px #323233;
}
#header .container {
  height: 100%;
}
#header #toggle {
  display: none;
}

#nav {
  position: absolute;
  right: 0;
  top: 15px;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out;
}
#nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#nav li {
  float: left;
}
#nav a {
  display: block;
  color: #A6A5A4;
  height: 30px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 1rem;
  font-weight: 300;
  text-decoration: none;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}
#nav a:hover {
  color: #ccc;
  font-size: 1.05rem;
  letter-spacing: 4px;
  font-weight: bold;
}

@media (max-width: 767px) {
  #nav a {
    padding: 0 12px;
  }
}

#nombre{
  text-align: center;
  font-family: 'Miniver', cursive;
 font-size:40px;
 color:#F2F2F2;
  
}
#git{
  text-decoration: none;
}