#container {
	height: 300px;
	overflow: hidden;
	position: fixed;
  box-shadow: 1px 5px 15px #CCC;
  border-radius:2px;
  left:50%;
  top:50%;
  margin:-150px 0 0 -270px;
  .slide { 
    position: absolute;
	  display: block;
	  left: 0;
    width:300px;
    height:100%;
    transition: all .4s ease;
    cursor: pointer;
    $slide-data: (1, #92DCE5,),(2, #EF6F6C,),(3, #FF386D),(4, #E8DB7D);
    @each $slide, $color in $slide-data {
      &.slide#{$slide} { background-color:$color; }
    }
    span { 
      color:rgba(255,255,255,1);
      text-align:center;
      display:block;
      position:absolute;
      width:40px;
      height:40px;
      line-height:44px;
      border-radius: 50%;
      top:50%;
      margin-top:-20px;
      font-size:20px;
      border:2px solid rgba(255,255,255,.5);
      transition: all .4s ease;
    }
  }
}

